body{
    background-color: lightpink;
}
button{
    font-family: Roboto, sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    border: 2px solid white;
    background-color: pink;
    color: white;
    box-shadow: 5px 5px 2px;
    cursor: pointer;
}
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 20%;
}