body {
    background-color: darkred;
}

.container {
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-family: cursive;
}

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  }

.hover2D {
  width: 100%;
  height: 100%;
  display: in-line block;
  position: relative;
}

.hover2D:hover {
  transform: rotate(2deg);
}

  .polaroid > img{
    max-width: 100%;
    height: auto;
  }
  .caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.25em;
  }

  .item {
    width: 30%;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
  }
  
 




